.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: solid .25rem;
}

.none {
  border-left: none;
}

.pending {
  border-left-color: #fd6542;
}

.success {
  border-left-color: #56b586;
}

.click {
  cursor: pointer;
}

.prevent-click {
  pointer-events: none;
}